{
  "openapi": "3.0.0",
  "info": {
    "title": "Taxonomy API",
    "version": "3.0",
    "description": "UiTdatabank's taxonomy API is used to programmatically retrieve lists of taxonomy terms like event types, place types, themes and facilities, as well as cities and other geographical regions.\n\n**Authentication**\n\nThe taxonomy API requires no authentication.\n\n**Environments**\n\nThe taxonomy API only has one environment, the production environment. Since the taxonomy terms are the same on all environments, you can also connect to this environment from your testing environment to retrieve taxonomy terms.",
    "contact": {
      "name": "publiq helpdesk",
      "email": "vragen@publiq.be"
    }
  },
  "servers": [
    {
      "url": "http://taxonomy.uitdatabank.be",
      "description": "Production"
    }
  ],
  "paths": {
    "/terms": {
      "get": {
        "summary": "List taxonomy terms",
        "tags": [
          "Term"
        ],
        "responses": {
          "200": {
            "description": "A list of taxonomy terms.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Term"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The response will include a JSON body with more details in the form of a RFC7807 error model. Possible error types:\n\n* https://api.publiq.be/probs/uitdatabank/invalid-taxonomy-domain",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Invalid taxonomy term": {
                    "value": {
                      "type": "https://api.publiq.be/probs/uitdatabank/invalid-taxonomy-domain",
                      "title": "Invalid taxonomy domain",
                      "status": 400
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-terms",
        "description": "Returns the taxonomy terms of all existing domains or filtered by domain.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "eventType",
                "placeType",
                "theme",
                "facility"
              ]
            },
            "in": "query",
            "name": "domain",
            "description": "Limits the results to the taxonomy terms that belong to the given domain."
          }
        ]
      },
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "Term": {
        "title": "Term",
        "type": "object",
        "x-internal": false,
        "description": "A taxonomy term like an event type, place type, theme, or facility.",
        "x-examples": {
          "Facility": {
            "id": "3.23.1.0.0",
            "domain": "facility",
            "name": {
              "nl": "Voorzieningen voor rolstoelgebruikers",
              "fr": "Facilités pour fauteuils roulants",
              "de": "EInrichtung für Rollstuhlfahrer",
              "en": "Wheelchair facilities"
            }
          },
          "With other suggested terms": {
            "id": "0.50.4.0.0",
            "domain": "eventType",
            "name": {
              "nl": "Concert",
              "fr": "Concert",
              "de": "Konzert",
              "en": "Concert"
            },
            "otherSuggestedTerms": [
              {
                "id": "1.8.3.5.0",
                "domain": "theme",
                "name": {
                  "nl": "Amusementsmuziek",
                  "fr": "Cabaret",
                  "de": "Schlager",
                  "en": "Cabaret music"
                }
              },
              {
                "id": "1.8.3.3.0",
                "domain": "theme",
                "name": {
                  "nl": "Dance muziek",
                  "fr": "Musique de danse",
                  "de": "Tanzmusik",
                  "en": "Dance music"
                }
              },
              {
                "id": "1.8.4.0.0",
                "domain": "theme",
                "name": {
                  "nl": "Folk en wereldmuziek",
                  "fr": "Musique folklorique et mondiale",
                  "de": "Folk und World",
                  "en": "Folk and world music"
                }
              },
              {
                "id": "1.8.3.2.0",
                "domain": "theme",
                "name": {
                  "nl": "Hip hop, rnb en rap",
                  "fr": "Hip hop, rnb et rap",
                  "de": "Hip-Hop, R und B und Rap",
                  "en": "Hip hop, rnb and rap"
                }
              },
              {
                "id": "1.8.2.0.0",
                "domain": "theme",
                "name": {
                  "nl": "Jazz en blues",
                  "fr": "Jazz et blues",
                  "de": "Jazz und Blues",
                  "en": "Jazz and blues"
                }
              },
              {
                "id": "1.8.1.0.0",
                "domain": "theme",
                "name": {
                  "nl": "Klassieke muziek",
                  "fr": "Musique classique",
                  "de": "Klassische Musik",
                  "en": "Classical music"
                }
              },
              {
                "id": "1.8.3.1.0",
                "domain": "theme",
                "name": {
                  "nl": "Pop en rock",
                  "fr": "Pop et rock",
                  "de": "Pop und Rock",
                  "en": "Pop and rock"
                }
              }
            ]
          }
        },
        "x-tags": [
          "Term"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "3.23.1.0.0",
            "description": "Unique id of the taxonomy term."
          },
          "domain": {
            "type": "string",
            "enum": [
              "eventType",
              "placeType",
              "facility",
              "theme"
            ],
            "description": "Indicates to what domain the taxonomy term belongs.",
            "example": "facility"
          },
          "name": {
            "type": "object",
            "description": "Localized human-readable names of the term, as an object with languages as properties.",
            "required": [
              "nl"
            ],
            "properties": {
              "nl": {
                "type": "string",
                "example": "Voorzieningen voor rolstoelgebruikers"
              },
              "fr": {
                "type": "string",
                "example": "Facilités pour fauteuils roulants"
              },
              "de": {
                "type": "string",
                "example": "EInrichtung für Rollstuhlfahrer"
              },
              "en": {
                "type": "string",
                "example": "Wheelchair facilities"
              }
            }
          },
          "otherSuggestedTerms": {
            "type": "array",
            "description": "A list of terms from another domain that are suggested to be used in combination with this term. Usually used on `eventType` and `placeType` terms to suggest related `theme` terms.",
            "items": {}
          }
        },
        "required": [
          "id",
          "domain",
          "name"
        ]
      },
      "Error": {
        "title": "Error",
        "type": "object",
        "description": "RFC7807 error model for all publiq APIs",
        "x-tags": [
          "Models"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "A URI reference that identifies the problem type."
          },
          "title": {
            "type": "string",
            "description": "A short, human-readable summary of the problem type."
          },
          "status": {
            "type": "integer",
            "description": "The HTTP status code."
          },
          "jsonPointer": {
            "type": "string",
            "description": "Pointer to the erroneous request object in JavaScript Object Notation (JSON) Pointer format.",
            "format": "json-pointer"
          },
          "detail": {
            "type": "string",
            "description": "A human-readable explanation specific to this occurrence of the problem. "
          }
        },
        "required": [
          "type",
          "title",
          "status"
        ]
      },
      "Municipality": {
        "title": "Municipality",
        "type": "object",
        "description": "A Belgian municipality.",
        "x-examples": {
          "example-1": {
            "id": "3018_WIJGMAAL",
            "name": {
              "nl": "Wijgmaal",
              "fr": "Wijgmaal",
              "de": "Wijgmaal",
              "en": "Wijgmaal"
            },
            "zip": "3018",
            "parent": "3000_LEUVEN",
            "subMunicipality": true
          }
        },
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique id of the municipality.",
            "example": "3018_WIJGMAAL"
          },
          "name": {
            "type": "object",
            "description": "Localized human-readable names of the municipality, as an object with languages as properties.",
            "required": [
              "nl"
            ],
            "properties": {
              "nl": {
                "type": "string",
                "example": "Wijgmaal"
              },
              "fr": {
                "type": "string",
                "example": "Wijgmaal"
              },
              "de": {
                "type": "string",
                "example": "Wijgmaal"
              },
              "en": {
                "type": "string",
                "example": "Wijgmaal"
              }
            }
          },
          "zip": {
            "type": "string",
            "description": "Postal code of the municipality.",
            "example": "3018"
          },
          "parent": {
            "type": "string",
            "description": "Only present if subMunicipality is set to true. Unique id of the municipality that is the parent of this subMunicipality.",
            "example": "3000_LEUVEN"
          },
          "subMunicipality": {
            "type": "boolean",
            "description": "Whether this city/municipality is a submunicipality or not."
          }
        },
        "required": [
          "id",
          "name",
          "zip"
        ]
      }
    },
    "securitySchemes": {}
  },
  "tags": [
    {
      "name": "Term"
    }
  ]
}